cookie-jar.txt
foo-log/
twitter-*.png

demo-with*-css.png

chapter04/node_modules/
chapter04/coverage/

chapter05/recipe02/node_modules/
chapter05*.png

recipe09.xml
screenshots/
failures/

lib/confess/
phantomjs-sandbox/static/demo.appcache

phantomjs-sandbox/static/components/snap.svg/

test-reports/
