<!DOCTYPE html>
<html manifest="/demo.appcache">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <div class="jumbotron text-center">
        <h2 id="clock">getting time...</h2>
      </div>

      <div class="text-center">
        <img src="/images/152824439_ffcc1b2aa4_b.jpg" class="img-circle" />
      </div>
      <div class="text-center">
        <img src="/images/357292530_f225d7e306_b.jpg" class="img-circle" />
      </div>
      <div class="text-center">
        <img src="/images/391560246_f2ac936f6d_b.jpg" class="img-circle" />
      </div>
      <div class="text-center">
        <img src="/images/583519989_1116956980_b.jpg" class="img-circle" />
      </div>
      <div class="text-center">
        <img src="/images/872027465_2519a358b9_b.jpg" class="img-circle" />
      </div>
    </div>
    <script type="text/javascript" src="/components/moment/moment.js"></script>
    <script type="text/javascript" src="/js/appcache-demo.js"></script>
  </body>
</html>