<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>We are dealing with large, cacheable assets here.</p>
    <img src="/images/152824439_ffcc1b2aa4_b.jpg" />
    <img src="/images/357292530_f225d7e306_b.jpg" />
    <img src="/images/391560246_f2ac936f6d_b.jpg" />
    <img src="/images/583519989_1116956980_b.jpg" />
    <img src="/images/872027465_2519a358b9_b.jpg" />
</html>