<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/screen.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>We are dealing with cookies here.</p>
    <pre id="cookie-tray">
    </pre>
    <script type="text/javascript">
      document.getElementById('cookie-tray').innerHTML = document.cookie.toString();
    </script>
</html>