<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/screen.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>INTRO TEXT FOR <em>THE PHANTOMJS COOKBOOK</em> DEMO PAGE GOES HERE...</p>
  </body>
</html>