<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>INTRO TEXT FOR <em>THE PHANTOMJS COOKBOOK</em> DEMO PAGE GOES HERE...</p>
    <ul>
      <li><a href="/cache-demo">/cache-demo</a></li>
      <li><a href="/cookie-demo">/cookie-demo</a></li>
      <li><a href="/input-demo">/input-demo</a></li>
    </ul>
  </body>
</html>