<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron banner">
        <h1><%= title %></h1>
        <p>
          This is the demo site that goes along with <em>The PhantomJS Cookbook</em>.
          The pages on this site are used in several of the recipes in the cookbook,
          and several of them are used several times. It's not supposed to be
          especially glamorous; it's just supposed to get the point across.
          <div id="phantomjs-logo"></div>
        </p>
      </div>

      <ul class="list-inline">
        <% links.forEach(function(link) { %>
          <li><a href="<%= link %>"><%= link %></a></li>
        <% }) %>
      </ul>

    </div>
  </body>
</html>